body {
  .font();
}
.relative {
  position: relative;
}

.r1-0 {
  border-top-left-radius: 0 !important;
}
.r2-0 {
  border-top-right-radius: 0 !important;
}
.r3-0 {
  border-bottom-right-radius: 0 !important;
}
.r4-0 {
  border-bottom-left-radius: 0 !important;
}
.r-0 {
  border-radius: 0 !important;
}
