body {
  .font();
}
.titles-feature {
  .title-feature {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
    .icon {
      position: absolute;
      top: 50%;
      .transform(translateY(-50%));
      left: -1.3em;
    }

    &.title-check {
      text-decoration: underline;
    }
  }
}
hr {
  background-color: @border-color;
  opacity: 1;
}
.subscribe-form {
  .form-control {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  button {
    width: 100%;
  }
}
.page-header {
  background-color: #f6f6f6;
  text-align: center;
  padding: 5em 0;
  h1 {
    margin: 0;
    padding: 0;
  }
}
.box-search {
  max-width: 340px;
  margin: 0 auto;
  border: 1px solid @border-color;
  padding: 10px;
  border-radius: 6px;
}
