.footer-top {
  padding: 1em 0 0;

  .footer-top_brand {
    display: inline-block;
    margin-bottom: 4em;
    &:hover {
      opacity: 0.5;
    }
  }

  .fotter-top_nav {
    margin-bottom: 4em;
    h4 {
      color: @blue;
      margin-bottom: 2em;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: inside none none;
      li {
        margin-bottom: 0.7em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a {
      display: block;
      font-size: 18px;
      color: #9895ad;

      text-decoration: none;
      &:hover {
        color: @blue;
      }
    }
  }
}

.main-footer {
  border-top: 1px solid @border-color;
  text-align: center;
  color: @blue;
  font-size: 16px;

  .row {
    height: @footer-h;
  }
}
.footer-social {
  @w: 28px;
  text-decoration: none;

  a {
    display: inline-block;
    width: @w;
    height: @w;
    line-height: @w;
    font-size: 20px;
    background-color: @blue;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    .icon {
      line-height: @w;
      &.mozresticons-linked-in {
        position: relative;
        top: -2px;
      }
    }
  }
}

@media (max-width: @md) {
  .main-footer {
    padding: 10px 0;
    .row {
      height: @footer-sm-h - 20px;
    }
  }
}
