.main-footer {
  border-top: 1px solid @border-color;
  text-align: center;
  color: @blue;
  font-size: 16px;

  .row {
    height: @footer-h;
  }
}
.footer-social {
  @w: 28px;
  text-decoration: none;

  a {
    display: inline-block;
    width: @w;
    height: @w;
    line-height: @w;
    font-size: 20px;
    background-color: @blue;
    color: #fff;
    text-align: center;
    border-radius: 9px;
  }
}

@media (max-width: @md) {
  .main-footer {
    padding: 10px 0;
    .row {
      height: @footer-sm-h - 20px;
    }
  }
}
