.home-presentation {
  padding: 0;
}

.home-brands {
  width: 986px;
  margin: 0 auto;
  display: block;
}

.home-presentation-icon-search {
  position: absolute;
  z-index: 10;
  top: 23%;
  left: 10%;
}
.home-presentation-icon-location {
  position: absolute;
  z-index: 10;
  top: 83%;
  left: 52%;
}

.home-presentation-icon-user-card {
  position: absolute;
  z-index: 10;
  top: 88%;
  left: -6%;
  width: 200px;
  height: auto;
  padding: 18px 40px 18px 22px;
}

@media (max-width: @lg) {
  .icon-container.home-presentation-icon-search,
  .icon-container.home-presentation-icon-location {
    @w: 40px;
    width: @w;
    height: @w;
    .icon {
      font-size: 22px;
    }
  }
}
