.home-presentation {
  padding: 0;

  .front-content {
    height: 80vh;
  }
}

.home-brands {
  width: 986px;
  margin: 0 auto;
  display: block;
}

.home-presentation-icon-search {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 3em;
}
.home-presentation-icon-location {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: -3em;
}

.home-presentation-icon-user-card {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: -6em;
  width: 200px;
  height: auto;
  padding: 18px 40px 18px 22px;
}

@media (max-width: @xl) {
  .home-presentation {
    .front-content {
      height: 50vh;
    }
  }
  .home-presentation-icon-search {
    top: 50%;
    left: 1em;
  }
}

@media (max-width: @md) {
  .home-presentation {
    .front-content {
      height: auto;
    }
  }
}
