.icon-container {
  @w: 82px;
  width: @w;
  height: @w;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  color: #fff;

  .icon {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translateX(-50%) translateY(-50%));
  }

  &.big {
    @w: 120px;
    width: @w;
    height: @w;
    .icon {
      font-size: 70px;
    }
  }

  &.vh-centered {
    .transform(translateX(-50%) translateY(-50%));
  }
}
