.integracion-btn-central {
  background-color: #fff;
  border-radius: 50%;
  max-width: 140px;
  margin: 0 auto;
  position: relative;

  .integracion-btn-central_icon {
    padding: 20px;
  }
  .integracion-btn-central_a {
    position: absolute;
    display: none;
    padding: 25px 5px;
    line-height: 1;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    .transform(translateY(-50%));
  }

  &.show-link {
    .integracion-btn-central_icon {
      opacity: 0;
    }
    .integracion-btn-central_a {
      display: block;
    }
  }
}

.integracion-dropdown-container {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;

  .integracion-dropdown-arrow {
    background-color: @yellow;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 57px;
    .transition(transform 0.2s);
  }

  .dropdown-menu {
    width: 98%;
  }

  .show {
    .integracion-dropdown-arrow {
      .transform(rotate(180deg));
    }
  }
}

.integracion-dropdown-list_item {
  .font-alt;
  font-size: 18px;
}
.integracion-dropdown-list_icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.integracion-dropdown-list {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  .integracion-dropdown-list_item {
    padding: 10px;
  }
}
