.restaurant-presentation {
  padding: 0;

  .front-content {
    height: 70vh;
  }
}
.restaurant-mp-green {
  position: absolute;
  top: 60%;
  left: -30px;
}
.restaurant-mp-pink {
  position: absolute;
  top: 72.5%;
  left: -70px;
}

.restaurant-mp-yellow {
  position: absolute;
  top: 85%;
  left: -130px;
}
@media (max-width: @xl) {
  .restaurant-presentation {
    .front-content {
      height: 50vh;
    }
  }
}
@media (max-width: @md) {
  .restaurant-mp-green {
    top: 10%;
    left: 30px;
  }
  .restaurant-mp-pink {
    top: 20%;
    left: 30px;
  }

  .restaurant-mp-yellow {
    top: 30%;
    left: 30px;
  }
}
