.sidebar {
  section {
  }
  h2 {
    font-size: 20px;
    margin-bottom: 0.6em;
  }

  .widget {
    border-bottom: 2px solid @border-color;
    padding: 1em;
    &.widget_search {
      border: 1px solid @border-color;
      padding: 10px;
      border-radius: 6px;
      margin-bottom: 1em;
    }
  }

  ul {
    list-style: inside none none;
    //padding: 0 3em 0 0;
    padding: 0;
    margin: 0;
    display: block;

    li {
      // border-bottom: 1px dotted @border-color;
      display: block;
      font-weight: bold;
      a {
        text-decoration: none;
        display: block;
        padding: 10px 0;
      }
      // &:last-child {
      //   border-bottom: none;
      // }
      li {
        font-size: 95%;
        a {
          &:before {
            content: "• ";
          }
        }
        li {
          padding-left: 1em;
          font-weight: normal;
        }
      }
    }
  }
}
