.splide {
  padding-bottom: 60px;
}
.splide__pagination {
  bottom: 0px;
}
.splide__pagination__page {
  @w: 14px;
  width: @w;
  height: @w;
  background-color: #c4c4c4;

  &.is-active {
    background-color: @blue;
    opacity: 1;
    .transform(none);
  }
}

.bullets-yellow {
  .splide__pagination__page {
    &.is-active {
      background-color: @yellow;
    }
  }
}
.splide__pagination__pink {
  .splide__pagination__page {
    &.is-active {
      background-color: @pink;
    }
  }
}
.splide__pagination__green {
  .splide__pagination__page {
    &.is-active {
      background-color: @green;
    }
  }
}
.splide__pagination__yellow {
  .splide__pagination__page {
    &.is-active {
      background-color: @yellow;
    }
  }
}

.splide__arrow {
  top: auto;
  bottom: -3px;
  .transform(none);
  background-color: transparent;
}
