body {
  font-size: 16px;
  color: @text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .font-alt;
}
h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 0.7em;
}
h2 {
  font-size: 38px;
  margin-bottom: 1.3em;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 16px;
  margin-bottom: 1.7em;
}

.block-size-1 {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.block-size-2 {
  max-width: 386px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: inside none none;
  padding: 0;
  li {
    margin-bottom: 1em;
    &:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: @pink;
      margin-right: 1em;
      border-radius: 2px;
      position: relative;
      top: -0.1em;
    }
  }
}

.text-right {
  text-align: right;
}

///////////////////

.generate_text_color(@col) {
  .text-@{col} {
    color: @@col !important;
  }
}

.fz18 {
  font-size: 18px;
}

.generate_text_color(blue);
.generate_text_color(pink);
.generate_text_color(yellow);
.generate_text_color(green);
.generate_text_color(dark);
.generate_text_color(red);
.generate_text_color(yellow2);
.generate_text_color(green2);
.generate_text_color(brown);
.generate_text_color(brown2);
.generate_text_color(dark2);
.generate_text_color(black);
.generate_text_color(white);
.generate_text_color(gray);
.generate_text_color(primary);
.generate_text_color(secondary);

@media (max-width: @md) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 30px;
  }
  body,
  p {
    font-size: 14px;
  }
}
