// COLOR

@blue: #1c1259;
@pink: #ec4467;
@yellow: #ff9b00;
@green: #00af9e;
@dark: #0e0c21;
@red: #fd4f43;
@yellow2: #ff9b3f;
@green2: #3a9d44;
@brown: #37131a;
@brown2: #341d01;
@dark2: #072422;
@black: #000;
@white: #fff;
@gray: #dee1e2;
@gray2: #acadad;
@success: #44d07c;

@light-pink: #fde8ec;
@light-yellow: #fff2df;
@light-green: #c2ede9;

@text-color: @black;
@menu-color: @black;
@border-color: @gray;

@border-table: @gray;

@primary: @yellow;
@secondary: @blue;

@pricing: #9eaeb7;

// SECTION COLORS
@restaurant: @pink;
@marketplace: @yellow;
@reservation: @green;
